// Fonts
$font-family: "Raleway", sans-serif;

// Colors
$white: #fff;
$gray: #525252;
$error: #a1042e;

// Shadows
$main-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
 